SECRET_KEY="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxMTZkZGI4NDYwNjUxZGJmM2YzZWU5NGUyOGQxMmZkNSIsInN1YiI6IjYzMjRiNjZmZGIxNTRmMDA5ODYxMDFiZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.KpqdYfJKSBsrJ027sat1zweQWC-mOmeKTTzUfZESvrk"
API_KEY="116ddb8460651dbf3f3ee94e28d12fd5"