.home {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  height: 100vh;
  margin: auto;
}

.home > div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.home > div > div:nth-child(1) {
  font-weight: 700;
  text-align: left;
}
